.App {
  text-align: center;
}

.mainCard {
  width: 20rem;
  display: flex;
  margin: 1rem auto;
}

.card {
  padding: 1rem;
  border-radius: 1rem;
  backdrop-filter: blur(1rem);
  box-shadow: 0.75rem 0.75rem 2rem rgba(0, 0, 0, 0.5);
  border-top-color: rgba(225, 225, 225, 0.5) !important;
  border-left-color: rgba(225, 225, 225, 0.5) !important;
  border-bottom-color: rgba(225, 225, 225, 0.1) !important;
  border-right-color: rgba(225, 225, 225, 0.1) !important;

  background-color: rgba(225, 225, 225, 0.1) !important;
}

.card-title {
  font-size: 28px;
}

img {
  height: 160px;
  border-radius: 1rem;
}

.list {
  border-radius: 0.5rem !important;
  background-color: rgba(225, 225, 225, 0.1) !important;
  border: none !important;
}

.list-group-item {
  background-color: rgba(225, 225, 225, 0.1) !important;
  border: none;
  color: #e0dbcc;
}

.randomButton {
  margin: 2%;
  padding: 0.6rem;
  background-image: linear-gradient(
    to right,
    #757f9a 0%,
    #d7dde8 51%,
    #757f9a 100%
  );
  color: #000;
  border: 1px solid #000;
}

.randomButton:hover {
  background-image: linear-gradient(
    to right,
    #232526 0%,
    #414345 51%,
    #232526 100%
  );
  border: 1px solid #fff;
}

.neighBtn {
  margin: 2px;
  background-color: #292929;
  border: none;
}
